@page
@model biblioteca.web.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2><strong>Books</strong></h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary btn-sm" href="/Books/Create">Create Book</a>

            <a href="#addBookModal" class="btn btn-primary" data-toggle="modal"><em class="material-icons"></em> <span>Create Book</span></a>
            <a href="#deleteBookModal" class="btn btn-danger" data-toggle="modal"><em class="material-icons"></em> <span>Delete Book</span></a>
        </div>
    </div>
</div>

<div class="table-responsive">

    <table class="table table-hover caption-top">
        <caption>List of books</caption>
        <thead class="table-dark ">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>author</th>
                <th>pages</th>
                <th>genre</th>
                <th>year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.BooksList)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.author</td>
                    <td>@item.pages</td>
                    <td>@item.genre</td>
                    <td>@item.year</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="/Books/Update?id=@item.id">Update</a>
                        <a class="btn btn-danger btn-sm" href="/Books/Delete?id=@item.id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>