@page
@model Appbooks.web.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2><strong>Books</strong></h2>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary btn-sm" href="/Books/Create">Create Page</a>
            <button type="button" class="btn btn-primary btn-sm create" data-bs-toggle="modal" data-bs-target="#modalPartial">
                Create Modal
            </button>
        </div>
    </div>
</div>

<div class="table-responsive">

    <table class="table table-hover caption-top">
        <caption>List of books</caption>
        <thead class="table-dark ">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>author</th>
                <th>pages</th>
                <th>genre</th>
                <th>year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var Book in Model.BooksList)
            {
                <tr>
                    <td>@Book.Id</td>
                    <td>@Book.Name</td>
                    <td>@Book.Author</td>
                    <td>@Book.Pages</td>
                    <td>@Book.Genre</td>
                    <td>@Book.Year</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="/Books/Update?id=@Book.Id">Update<br />Page</a>
                        <button type="button" class="btn btn-warning btn-sm update" data-bs-toggle="modal" data-bs-target="#modalPartial" data-id="@Book.Id">
                            Update<br />Modal
                        </button>
                        <a class="btn btn-danger btn-sm" href="/Books/Delete?id=@Book.Id">Delete<br />Page</a>
                        <button type="button" class="btn btn-danger btn-sm delete" data-bs-toggle="modal" data-bs-target="#modalPartial" data-id="@Book.Id">
                            Delete<br />Modal
                        </button>

                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>
<partial name="_ModalPartial" />

@section scripts{
    <script>

        $(function () {
            $('button.update').on('click', function () {
                var id = $(this).data('id');
                $('.modal-body').load(`?handler=bookdetailsupdate&id=${id}`);
                $('.modal-title').text("Update");
            });
        });

        $(function () {
            $('button.delete').on('click', function () {
                var id = $(this).data('id');
                $('.modal-body').load(`?handler=bookdetailsdelete&id=${id}`);
                $('.modal-title').text("Delete");
            });
        });

    </script>
}